@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  background-color: #cdd2db;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
